@page "/"
@using Microsoft.AspNetCore.Authorization

<PageTitle>Home</PageTitle>

<h1> Hacker Heros CMS</h1>

  <style>
        .image-container {
            width: 100%; /* Adjust width as needed */
            height: 300px; /* Set the specific height you want */
            overflow: hidden;
        }
        .image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
        }
    </style>

    <div class="image-container">
        <img src="@Image" alt="Example Image">
    </div>

    <div style="margin-top:30px;text-align:center">
        <h1 style="font-size:xx-large"> CMS </h1>
        <p  style="margin-top:30px">
        A Content Management System (CMS) empowers you to easily create, manage, <br />
        and publish digital content without needing technical expertise.<br />
        Streamline your workflow, collaborate in real-time, and deliver.<br />
        a seamless user experience across all devices.Whether .<br />
        you're a developer, editor, or marketer, our CMS provides the tools.<br />
        you need to build and maintain a dynamic online presence. .<br />
        Take control of your content and focus on what matters most—your message.

        </p>
    </div>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
    <hr />
    <a href="menus"> Show Your Websites</a>
       
    
</AuthorizeView>

@code {
    public string Image = "https://wallup.net/wp-content/uploads/2019/05/10/417256-mountains-trees-meadow-sun-rays-nature-mountains-trees-lawn-sun-nature.jpg";

  //  ApplicationUser applicationUser 
}